@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

h1 {
  color: whitesmoke;
  text-align: center;
  margin: 1rem 0;
}

.search {
  margin: 1rem 0;
  background-color: transparent;
  border: 2px solid #e9e9ec;
  border-radius: 50px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.search::placeholder {
  color: #FFF;
}

.search:focus {
  background-color: #050505;
  outline: none;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: #0a0c20;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 100%;
  max-width: 265px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.8rem;
}

.movie-info span.green {
  color: rgb(39, 189, 39);
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: rgb(189, 42, 42);
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  max-height: 100%;
  overflow: auto;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.overview h3 {
  margin-top: 0;
}

.movie:hover .overview {
  transform: translateY(0);
}

footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.github-icon {
  width: 48px;
  height: 48px;
  margin-top: 10px;
}

/* Responsive Design */
@media (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  h1 {
    margin-left: 2rem;
    text-align: left;
  }

  .search {
    margin: 0 2rem;
  }
}

@media (min-width: 768px) {
  .movie {
    width: 45%;
  }
}

@media (min-width: 992px) {
  .movie {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .movie {
    width: 22%;
  }
}
